.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.img-width {
  width: 590px;
  height: 416px;
}
.card-width {
  width: 590px;
}
.date {
  color: #424242;
  font-size: 17px;
  margin-top: 17px;
  margin-bottom: 14px;
}
.title {
  color: #d05270;
  font-size: 24px;
  margin-bottom: 12px;
}
.btn {
  color: #d05270;
  font-size: 18px;
  border-bottom: #d05270 solid 2px;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 55px;
}
.margin {
  margin-bottom: 20px;
  margin-right: 20px;
}
