ul {
  justify-content: space-between;
  list-style-type: none;
  display: flex;
}
nav {
  justify-content: space-between;
}
li {
  margin: 5px;
  font-size: 14px;
  color: #424242;
}
li:hover {
  color: #5a47ab;
}
nav img {
  height: 25px;
  width: 90px;
  margin-top: 7px;
}

nav p {
  color: #424242;
  font-size: 36px;
  margin-right: 20px;
}
