main h1 {
  color: #d05270;
  font-size: 52px;
}
main h5 {
  color: #424242;
  font-size: 52px;
  margin-bottom: 36px;
}
.margin-b {
  margin-bottom: 36px;
}
#margin-t {
  margin-top: 87px;
}
.width-50 {
  width: 50%;
  /* margin: auto; */
}

.flex {
  display: flex;
  justify-content: space-between;
}

.socialMedia {
  height: 60px;
  width: 201px;
  background-color: #424242;
  color: white;
  border: none;
}
#twitter {
  background: #47acdf;
}
#linkedin {
  background: #1275b1;
}
#medium {
  background: black;
}
#child {
  height: 407px;
  width: 408.65435791015625px;
  display: block;
  margin-left: auto;
  /* margin-right: auto; */
}
.logo {
  height: 15px;
  width: 18px;
  margin-right: 26px;
}
